@model IEnumerable<DQueensFashion.Models.ViewCategoryViewModel>


<table class="table table-head-fixed  table-striped" id="categoriesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="category-name" style="word-wrap:break-word;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("EditCategory", new {id=item.Id})", class="primary-table-button" style="float:right">
                        <img src="~/Content/Images/edit.svg" />
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>

<style>
    .category-name {
        width: 500px;
        max-width:500px;
    }

    

/*smart phones*/
    @@media screen and (max-width: 420px) and (min-width: 0px) {
        .category-name{
            width:200px;
            max-width:200px;
        }
    }
</style>