@model IEnumerable<DQueensFashion.Models.ViewCategoryViewModel>
@using DQueensFashion.Utilities

<table class="table table-head-fixed  table-striped" id="categoriesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="category-table-category-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        if (item.Id != AppConstant.OutfitsId)
                        {
                            <a href="@Url.Action("EditCategory", new {id=item.Id})" , class="primary-table-button btn-xs category-table-edit-category-button">
                                <img src="~/Content/Images/edit.svg" alt="edit_categories_btn_image_houseofdqueens"/>
                            </a>
                        }
                    }

                </td>
            </tr>

        }
    </tbody>
</table>
