@model IEnumerable<DQueensFashion.Models.CustomerViewModel>

<table class="table table-head-fixed  table-striped" id="customersTable">
    <thead>
        <tr>
            <th>Email</th>
            <th>Total orders</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCustomerOrders)
                </td>
                <td>

                    <a href="@Url.Action("CustomerOrders",new {id = item.CustomerId})" class="btn btn-xs primary-table-button float-right">
                        orders
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>
