@model IEnumerable<DQueensFashion.Models.ImageViewModel>

<div id="productImages" class="row">
    @foreach (var image in Model)
    {
        <div class="col-md-2 col-4">
            <img src="@Url.Content(image.ImagePath)" class="d-block mb-1 edit-product-product-images">
            <button class="btn btn-sm btn-danger" onclick="DeleteProductImage(@image.Id)">
                <img src="~/Content/Images/trash.svg" />
            </button>
        </div>
    }
</div>
