@model IEnumerable<DQueensFashion.Models.CustomerViewModel>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Customers</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" id="search" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default" style="width:50px" onclick="SearchCustomerTable()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 65vh">

                @Html.Partial("_customersTable", Model)
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<script>
    var search = document.getElementById("search");

    function SearchCustomerTable() {
        $.ajax({
            url: '/Admin/SearchCustomers',
            dataType: "html",
            data: { searchString: search.value },
            success: function (result) {
                
        console.log("hell0");
        console.log("hell0");
                $("#customersTable").html(result);
            },
            error: function (xhr, status, error) {
                alertify.error("Error");
            }
        });
    }

</script>