@model IEnumerable<DQueensFashion.Models.CustomerViewModel>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        @using (Html.BeginForm())
        {
            <div class="card mt-lg-4 mt-2 box-shadow">
                <div class="card-header">
                    <h3 class="card-title">Customers</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" name="query" class="form-control float-right" value="@ViewBag.Query" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default table-search-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 custom-table">
                    <table class="table table-head-fixed  table-striped" id="customersTable">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Total orders</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerEmail)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalCustomerOrders)
                                    </td>
                                    <td>

                                        <a href="@Url.Action("CustomerOrders",new {id = item.CustomerId})" class="btn btn-xs primary-table-button float-right">
                                            orders
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        }

    </div>
</div>
