@model IEnumerable<DQueensFashion.Models.ViewOrderViewModel>

@{
    ViewBag.Title = "ReturnedOrders";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Returned</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" name="table_search" class="form-control float-right" id="search" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default table-search-btn" onclick="SearchReturnedOrderTable()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0 custom-table">

                @Html.Partial("_returnedOrdersTable", Model)
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<script>

    var search = document.getElementById("search");

    function SearchReturnedOrderTable() {
        $.ajax({
            url: '/Admin/SearchReturnedOrders',
            dataType: "html",
            data: { query: search.value },
            success: function (result) {

                $("#returnedOrdersTable").html(result);
            },
            error: function (xhr, status, error) {
                alertify.error("Error");
            }
        });
    }
</script>