@model IEnumerable<DQueensFashion.Models.ViewCategoryViewModel>

@{
    ViewBag.Title = "ViewCategories";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<h2>View Categories</h2>

<p>
    @Html.ActionLink("Add new category", "addcategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editcategory", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
