@model IEnumerable<DQueensFashion.Models.ViewWishListViewModel>

@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Wishlist</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" id="wishListSearch" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default" style="width:50px" onclick="SearchWishListTable()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 78vh;">

                @Html.Partial("_wishlistTable", Model)
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<script>
    var wishListSearch = document.getElementById("wishListSearch");

    function SearchWishListTable() {
        $.ajax({
            url: '/Customer/SearchWishList',
            dataType: "html",
            data: { query: wishListSearch.value },
            success: function (result) {

                $("#wishlistTable").html(result);
            },
            error: function (xhr, status, error) {
                ShowSnackbarError("Error");
            }
        });
    }


    function RemoveFromWishList(wishlistId) {
        console.log(wishListSearch.value);
        debugger;
            $.ajax({
                url: '/Customer/removefromwishlist/',
                dataType: "html",
                data: { id: wishlistId, query: wishListSearch.value },
                success: function (result) {
                    $("#wishlistTable").html(result);
                },
                error: function (xhr, status, error) {

                }
            });

        }


</script>