.section_header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

    .section_header [class*="heading_"] {
        float: left;
    }



.section_header_text {
    position: relative;
}

    .section_header_text h1, .section_header_text h2, .section_header_text h3, .section_header_text h4, .section_header_text h5, .section_header_text h6 {
        font-weight: 700;
        margin: 0;
        text-transform: capitalize;
    }

    .section_header_text h1,
    .section_header_text h2,
    .section_header_text h3,
    .section_header_text h4,
    .section_header_text h5,
    .section_header_text h6 {
        position: relative;
        z-index: 9;
    }

    .section_header_text .sub_heading {
        font-size: 100px;
        font-weight: bold;
        padding: 0;
        margin-bottom: -15px;
        z-index: 0;
        position: relative;
        line-height: 100px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#1affffff',GradientType=0 );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section_header_text.heading_light .sub_heading {
        background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.01) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#1a000000',GradientType=0 );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

.starcolor {
    color: #f4c150;
}


.btn-tool {
    background: 0 0;
    color: #adb5bd;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}

.nav-link{
    font-weight:600;
}

/*orderdetails*/
.orderdetails-card-header {
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #ededed;
    padding: 10px 20px;
    margin-top: 10px;
}

.orderdetails-customer-main-info {
    font-size: 16px;
    font-weight: 600
}

.orderdetails-customer-info {
    font-size: 13px;
    font-weight: 400
}

.orderdetails-items-in-order {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px
}

.orderdetails-product-image {
    display: inline-block;
    width: 100%;
    height: 80px
}

.orderdetails-card-body {
    border: 1px solid #ededed;
    padding: 15px
}

.orderdetails-unitprice {
    font-size: 15px;
    font-weight: 400;
    color: #818181
}

.orderdetails-totalamouont {
    font-size: 18px;
    font-weight: 600
}

/*table design*/

.card-tools > div {
    width: 150px;
}

.table-search-btn {
    width: 50px;
}

.custom-table {
    height: 70vh;
}

/*Admin/Dashboard, customer/account*/
.account-card-header {
    border: 1px solid #ededed;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300
}

.account-card-body {
    border: 1px solid #ededed;
    padding: 20px
}

.action-link {
    font-weight: bold;
    color: #df7204;
    background-color: white;
    padding: 10px;
    transition: all ease 0.3s;
}

    .action-link:hover {
        background-color: #df7204;
        color: white;
    }

.admin-dashboard-acct-overview {
    font-size: 20px;
    font-weight: 400
}

.admin-dashboard-total {
    color: #75757A;
    margin-bottom: 20px
}

/*Admin/category*/
.category-table-add-category-btn {
    text-align: right;
    margin-bottom: 10px;
}


.category-table-category-name {
    width: 500px;
    max-width: 500px;
    word-wrap: break-word;
}

.category-table-edit-category-button {
    float: right;
}

/*Admin/editcategory*/
.admin-editcategory-card {
    width: 400px;
}


/*Admin/Products*/
.add-product-btn-div {
    text-align: right;
    margin-bottom: 10px;
}

.add-product-btn {
    background-color: #96157a;
    color: white;
}

.add-ready-made-btn {
    background-color: darkgoldenrod;
    color: white;
}

.add-custommade-btn {
    background-color: blue;
    color: white
}

.products-table-image {
    width: 80px;
}

    .products-table-image > img {
        width: 50px;
        height: 50px;
    }

.product-name-desc {
    max-width: 300px;
    word-wrap: break-word;
}

    .product-name-desc > a > div {
        font-size: 15px;
        font-weight: 600;
        color: black;
    }

    .product-name-desc > div {
        font-size: 15px;
        font-weight: 400;
        color: #818181
    }

    /*Admin/EdittProduct*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #df7204 !important;
}

.admin-products-tag {
    border: 1px solid #ced4da;
}

.admin-editproduct-editimage-btn {
    text-align: right;
    margin-bottom: 10px;
}

/*Admin/editproductimages*/
.edit-product-product-images {
    width: 100%;
    height: 100px
}

.edit-product-image-product-name {
    font-size: 20px;
    font-weight: 700
}

.edit-product-image-product-category {
    font-size: 15px;
    font-weight: 500
}

/*Admin/ProducctDetails*/

.product-details {
    margin: 0px;
}

.carousel-item {
    height: 250px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #df7204;
}

.carousel-indicators {
    bottom: -50px;
}


.product-details-title {
    white-space: normal;
    font-weight: 400;
    font-size: 30px;
    color: #29303b;
    margin-bottom: 0px;
}

.product-details-detail {
    white-space: normal;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 3px;
}

    .product-details-detail > span {
        white-space: normal;
        font-size: 15px;
        font-weight: 400;
    }


.product-details-initial-price {
    font-size: 20px;
    line-height: 15px;
    color: #75757a;
    text-decoration: line-through;
    padding: 3px;
}

.product-details-price {
    font-size: 30px;
    font-weight: 700;
    padding: 3px;
    color: red;
}

.product-details-image {
    width: 100%;
    height: 400px;
}

.product-details-discount-price {
    background-color: #df7204;
    color: white;
    padding: 5px;
}

.delivery-returns-card {
    min-height: 250px
}

    .delivery-returns-card > div {
        background-color: white;
    }

.delivery-returns-header-text {
    font-weight: 500;
    font-size: 15px
}

.delivery-returns-icon {
    width: 50px;
    vertical-align: top
}

.delivery-returns-body-text {
    font-weight: 300;
    font-size: 13px
}

.description-body {
    text-justify: inter-word;
    text-align: justify
}

.review-name {
    font-weight: 500;
}

.review-date {
    float: right;
}

.review-comment {
    text-align: justify;
    text-justify: inter-word;
}

/*Admin/GeneralDetails*/
.admin-generaldetails-card{
    width:400px;
}

/*Customer/addreview*/
.customer-add-review-btn {
    text-align: right;
    color: white;
    border-radius: 0;
}

/*smart phones*/
@media screen and (max-width: 420px) and (min-width: 0px) {
    /*Admin/Category*/
    .category-table-category-name {
        width: 200px;
        max-width: 200px;
    }

    /*Admin/Products*/
    .product-name-desc {
        max-width: 200px;
    }
}