@{
    if (ViewBag.Categories != null)
    {

        foreach (var category in ViewBag.Categories)
        {
            <div class="dropdown-item" style="padding:0">
                <div class="dropdown-item-text" onclick="ShopByCategory(@category.Id)" style="cursor:pointer">
                    @category.Name
                </div>
            </div>
        }

    }
}