
@model IEnumerable<DQueensFashion.Models.ViewCategoryViewModel>

@foreach (var category in Model)
{
    <div class="dropdown-item">
        <div class="dropdown-item-text">
            @category.Name
        </div>
    </div>
}
