
@{
    ViewBag.Title = "Det";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color:#f2f3f5; padding:50px;">
    <div style="max-width:95%;margin:auto">
        <div style="border-radius:0;border-top:2px solid #df7204">
            <div style="background-color:white; padding:10px 20px;border-bottom:1px solid #686f7a">
                <img src="{logoUrl}" style="width:50px;height:50px" alt="hdq_logo" />
            </div>
            <div style="padding:10px 20px;background-color:white">
                <div style="margin-bottom:20px;color:black">
                    <div style="margin:5px 0">Thank you for shopping with HDQ! Your order has been successfully confirmed.</div>
                    <div style="margin:5px 0"> It will be packaged and delivered to you as soon as possible.</div>
                    <div style="font-size:25px;color:#df7204;font-weight:600">Order details</div>
                    <hr style="margin:5px 0;" />

                    <div style="padding:10px;border:1px solid #261f1f;margin-bottom:10px;box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);">
                        <div>
                            <span style="font-size:16px;font-weight:500;padding-left:5px">Hello how are you</span>
                            <hr />
                        </div>
                        <div>
                            <span style="font-size:18px;font-weight:600">AMT:</span>
                            <span style="font-size:16px;font-weight:500;padding-left:12px">$20 * 3</span>
                            <span style="font-size:16px;font-weight:700;float:right">$60</span>
                        </div>
                    </div>


                    <div style="padding:10px;border:1px solid #261f1f;margin-bottom:10px;box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);">
                        <div>
                            <span style="font-size:18px;font-weight:600">ITEM:</span>
                            <span style="font-size:16px;font-weight:500;padding-left:5px">Hello how are you</span>
                        </div>
                        <div>
                            <span style="font-size:18px;font-weight:600">AMT:</span>
                            <span style="font-size:16px;font-weight:500;padding-left:12px">$20 * 3</span>
                            <span style="font-size:16px;font-weight:700;float:right">$60</span>
                        </div>
                    </div>
                    <hr style="margin:5px 0 15px 0;" />
                    <div>
                        <div style="text-align:right;font-size:20px;font-weight:500">
                            <div style="margin-bottom:5px;margin-top:5px;font-size:17px">Subtotal: $120</div>
                            <div style="margin-bottom:5px;margin-top:5px;font-size:17px">Shipping: $4.99</div>
                            <div style="margin-bottom:5px;margin-top:5px;font-size:20px;font-weight:600">Total: $124.99</div>

                            <hr style="margin:5px 0 15px 0;" />
                            <div style="margin-bottom:20px">
                                <a style="color:white;background-color:#df7204;border-radius:0;padding:10px;margin-top:10px;text-decoration:none !important" target="_blank"
                                   href="{redirectUrl}">Check order</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div style="font-size:14px">Delivered by HouseOfDQueens</div>
    </div>
</body>
</html>