@model DQueensFashion.Models.ViewCartViewModel

@foreach (var cartItem in Model.Carts)
{
    <div class="dropdown-item">
        <div class="dropdown-item-text">
            @cartItem.Product.Name ( @cartItem.Quantity )
            <img src="~/Content/Images/trash-2.svg" onclick="RemoveFromCart(@cartItem.Product.Id)" style="cursor:pointer" />
        </div>

    </div>
}
