@model DQueensFashion.Models.ViewCartViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container body-content">

        @Html.Partial("_cartTable", Model)

    </div>
<script>
  
    function RemoveCartItem(productId) {
          var e = document.getElementById("ship-to");
        var shipTo = e.options[e.selectedIndex].value;

        $.ajax({
            url: '/Cart/removecartitem/',
            dataType: "html",
            data: { id: productId, shipTo: shipTo  },
            success: function (result) {
                UpdateCartNumber()
                $(".viewCartTable").html(result);
            },
            error: function (xhr, status, error) {

            }
        });

    }

    function ChangeCartItemQuantity(productId, quantity) {
        var e = document.getElementById("ship-to");
        var shipTo = e.options[e.selectedIndex].value;

        $.ajax({
            url: '/Cart/ChangeCartItemQuantity',
            dataType: "html",
            data: { id: productId, quantity: quantity, shipTo: shipTo },
            success: function (result) {
                UpdateCartNumber();
                $(".viewCartTable").html(result);
            },
            error: function (xhr, status, error) {

            }
        });
    }

    function ChangeShipTo() {
          var e = document.getElementById("ship-to");
        var shipTo = e.options[e.selectedIndex].value;

        $.ajax({
            url: '/Cart/ChangeShipTo',
            dataType: "html",
            data: { shipTo: shipTo },
            success: function (result) {
                UpdateCartNumber();
                $(".viewCartTable").html(result);
            },
            error: function (xhr, status, error) {

            }
        });
    }

    function CheckoutCart() {
           var e = document.getElementById("ship-to");
        var shipTo = e.options[e.selectedIndex].value;

        window.location.href = "/Cart/Checkout/" + shipTo;
    }

</script>
