@model DQueensFashion.Models.ViewCartViewModel

@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h4 class="mt-3">Your Cart</h4>
    @Html.Partial("_cartTable", Model)

</div>
<script>
    function IncreaseQuantity(productId) {
       
        $.ajax({
            url: '/Cart/increasequantity/' + productId,
            dataType: "html",
            data: { id: productId },
            success: function (result) {
                UpdateCartNumber();
                $(".viewCartTable").html(result);
            },
            error: function (xhr, status, error) {

            }
        });
    }



    function DecreaseQuantity(productId) {

        $.ajax({
            url: '/Cart/decreasequantity/' + productId,
            dataType: "html",
            data: { id: productId },
            success: function (result) {
                UpdateCartNumber();
                $(".viewCartTable").html(result);
            },
            error: function (xhr, status, error) {

            }
        });

    }

    function RemoveCartItem(productId) {

        $.ajax({
            url: '/Cart/removecartitem/',
            dataType: "html",
            data: { id: productId },
            success: function (result) {
                UpdateCartNumber()
                $(".viewCartTable").html(result);
            },
            error: function (xhr, status, error) {

            }
        });

    }
</script>
