@{
    ViewBag.Title = "Forgot Password Confirmation";
}


    <div class="container body-content">
        <div class="login-register-logo-div mx-auto mt-5">
            <img src="~/Content/Images/HDQ LOGO FINAL.png" alt="hdq_logo_houseofdqueens"/>
        </div>
        <div class="card mx-auto mt-3 mb-5 login-card">
            <div class="card-body">
                <h4>Forgot password confirmation</h4>
                <hr />
                <div>
                    We have sent you an e-mail with instructions on how to reset your password. Check your inbox and click on the link provided.
                </div>
            </div>
        </div>
    </div>