@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container body-content">
    <div class="card mx-auto my-5 login-card">
        <div class="card-header">
            <h4>Reset password confirmation</h4>
        </div>
        <div class="card-body">
            <div>
                Your password has been reset.
                Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>
    </div>
</div>