@{
    ViewBag.Title = "Reset password confirmation";
}

    <div class="container body-content">
        <div class="login-register-logo-div mx-auto mt-5">
            <img src="~/Content/Images/HdqLogo.png"  alt="hdq_logo_houseofdqueens" />
        </div>
        <div class="card mx-auto mt-3 mb-5 login-card">
            <div class="card-body">
                <h4>Reset password confirmation</h4>
                <hr />
                <div>
                    Your password has been reset.
                    Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </div>
            </div>
        </div>
    </div>
