@model IEnumerable<DQueensFashion.Models.ViewReviewViewModel>
    <div id="reviewList">
        <div id="loading-effect" class="loading-effect">
            <div id="loading-text" class="loading-text">
                <h5>
                    Loading...
                </h5>
            </div>
        </div>
        @foreach (var review in Model)
        {
            <span class="review-name">
                @review.Name
            </span>
            <span class="review-date">
                @review.DateCreated
            </span>
            <div class="review-rating">
                <div class="">
                    @for (int i = 1; i <= review.Rating; i++)
                    {
                        <i class="fas fa-star star-rating"></i>
                    }
                    @for (int i = 1; i <= (5 - review.Rating); i++)
                    {
                        <i class="far fa-star star-rating"></i>
                    }

                </div>
            </div>

            <div class="review-comment">
                @review.Comment
            </div>
            <hr />
        }
        @if (Model.Count() > 0)
        {
            @Html.Partial("~/Views/Product/_reviewListPagination.cshtml")
        }

    </div>
<style>
    .review-name {
        font-weight: 500;
    }

    .review-date {
        float: right;
    }

    .review-comment {
        text-align: justify;
        text-justify: inter-word;
    }

    .loading-effect {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    .loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
    
.star-rating {
    color: #f4c150;
    font-size: 15px;
}
</style>
