@model DQueensFashion.Models.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<style>
    .collapsible {
        background-color: #0a0c13;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-top: 4px solid #E97128;
    }

        .collapsible:focus {
            outline: none;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        background-color: #f1f1f1;
    }

    .filter-btn {
        border: none;
    }

        .filter-btn:active,
        .filter-btn:focus {
            outline: none !important;
            border: none !important;
            box-shadow: none !important;
        }
</style>


<div class="container-fluid body-content">
    <div class="row">

        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 p-1">
                        <input type="text" class="form-control-sm"  id="searchString" placeholder="search by name, category, tags" style="width:100%"/>
                    </div>
                    <div class="col-md-3 col-6 p-1">
                        <select class="form-control-sm col-12" id="categoryId">
                            <option value="0">Category</option>
                            <option value="0">All</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id" selected="@category.Selected">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-6 p-1">
                        <select class="form-control-sm col-12" id="sortString">
                            <option value="0">Sort by</option>
                            <option value="1">Best selling</option>
                            <option value="2">Alphabetically, A - Z</option>
                            <option value="3">Alphabetically, Z - A</option>
                            <option value="4">Price, low to high</option>
                            <option value="5">Price, high to low</option>
                            <option value="6">Date, new to old</option>
                            <option value="7">Date, old to new</option>
                        </select>
                    </div>
                    <div class="col-md-2 p-1">
                        <button class="btn btn-sm btn-block filter-btn" onclick="SearchProduct()" id="btnFilter" style="background-color:#E97128;color:white;width:100%">FILTER <img src="~/Content/Images/filter.svg" /></button>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-12">

            @Html.Partial("_ProductsList", Model.Products)


        </div>

    </div>

</div>

<script>

    var _searchString = document.getElementById("searchString");
    var _sortString = document.getElementById("sortString");
    var _categoryId = document.getElementById("categoryId");

    function SearchProduct() {
        $.ajax({
            url: '/product/searchproduct',
            dataType: "html",
            data: { searchString: _searchString.value, sortString: _sortString.value, categoryId: _categoryId.value },
            success: function (result) {
                $("#productsList").html(result);
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

    }

    function ProductPagination(pageNumber) {
        $.ajax({
            url: '/product/ProductPagination',
            dataType: "html",
            data: { searchString: _searchString.value, sortString: _sortString.value, categoryId: _categoryId.value, pageNumber: pageNumber },
            success: function (result) {
                $("#productsList").html(result);
                $(window).scrollTop(0);
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    }

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

