
/*snackbar*/

#snackbar-success,
#snackbar-error,
#snackbar-message {
    visibility: hidden;
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 2500;
    left: 0;
    top: 60px;
    font-size: 17px;
}

#snackbar-success {
    background-color: #6dbd28;
    color: #fff;
}

#snackbar-error {
    background-color: #ff0000;
    color: #fff;
}

#snackbar-message {
    background-color: #AFB20C;
    color: #fff;
}

    #snackbar-success.show,
    #snackbar-error.show,
    #snackbar-message.show {
        visibility: visible;
    }
