/*Dashboard*/
.dashboard-sidenav-link {
    font-weight: 500;
    font-size: 16px;
}

/*snackbar*/
#snackbar-success,
#snackbar-error,
#snackbar-message {
    visibility: hidden;
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 2500;
    left: 0;
    top: 60px;
    font-size: 17px;
}

#snackbar-success {
    background-color: #6dbd28;
    color: #fff;
}

#snackbar-error {
    background-color: #ff0000;
    color: #fff;
}

#snackbar-message {
    background-color: #AFB20C;
    color: #fff;
}

    #snackbar-success.show,
    #snackbar-error.show,
    #snackbar-message.show {
        visibility: visible;
    }




/*sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*password*/

.showpasswordcontainer{
    text-align:right;
}

.showpassword,
.showconfirmpassword,
.showoldpassword{
    cursor: pointer;
}

.password-show-text,
.confirm-password-show-text,
.old-password-show-text{
    font-weight: 500;
}

/*buttons*/

.primary-table-button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #df7204;
    cursor: pointer;
    margin: 0 10px 5px 10px;
    border-radius: 0;
}

    .primary-table-button:hover {
        transform: scale(1.01);
        background-color: #ff8d19;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }

.secondary-table-button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #96157a;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 0;
}

    .secondary-table-button:hover {
        transform: scale(1.01);
        background-color: #9c3b8d;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }


.card-header{
    background-color:white;
}