
body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:85px;
    min-height:95vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.btn:focus{
    outline:none;
    box-shadow:none;
}

/* navbar */
.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: white;
    border: none;
}


    .navbar-toggler:focus {
        outline: none !important;
    }

    .navbar-toggler span {
        display: block;
        background-color: #444;
        height: 3px;
        width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        position: relative;
        left: 0;
        opacity: 1;
    }

        .navbar-toggler span:nth-child(1),
        .navbar-toggler span:nth-child(3) {
            -webkit-transition: transform .35s ease-in-out;
            -moz-transition: transform .35s ease-in-out;
            -o-transition: transform .35s ease-in-out;
            transition: transform .35s ease-in-out;
        }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        opacity: 0.9;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        opacity: 0.9;
    }



.navbar {
    padding: 10px 30px;
}

.nav-item{
    margin-right:5px;
    margin-left:5px;
    font-weight:500;
}
.navbar-link {
    color: black;
}

    .navbar-link:hover,
    navbar-link:focus {
        color: #df7204;
    }
/* background */

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center center;
    background-attachment: fixed;
    height: 500px;
}

.background-text {
    margin-top: 120px;
}

.btn-white {
    color: white !important;
    background-color: #df7204;
}

.btn-outline-white {
    color: white !important;
    border: 2px solid #df7204;
}

.header {
    text-align: center;
    color: #E97128;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-text {
    border-bottom: 2px solid #E97128;
    padding-bottom: 5px;
}




/*shopwise*/
.section_header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

    .section_header [class*="heading_"] {
        float: left;
    }



.section_header_text {
    position: relative;
}

    .section_header_text h1, .section_header_text h2, .section_header_text h3, .section_header_text h4, .section_header_text h5, .section_header_text h6 {
        font-weight: 700;
        margin: 0;
        text-transform: capitalize;
    }

    .section_header_text h1,
    .section_header_text h2,
    .section_header_text h3,
    .section_header_text h4,
    .section_header_text h5,
    .section_header_text h6 {
        position: relative;
        z-index: 9;
    }

    .section_header_text .sub_heading {
        font-size: 100px;
        font-weight: bold;
        padding: 0;
        margin-bottom: -15px;
        z-index: 0;
        position: relative;
        line-height: 100px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#1affffff',GradientType=0 );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section_header_text.heading_light .sub_heading {
        background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.01) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#1a000000',GradientType=0 );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

.tab-link {
    color: black;
}

.categories_tab .nav-tabs {
    border-bottom: 0;
}

    .categories_tab .nav-tabs li.nav-item a.active, .categories_tab .nav-tabs li.nav-item a.active:hover {
        color: #96157a;
    }

    .categories_tab .nav-tabs li.nav-item a {
        padding: 0px 15px;
    }

    .categories_tab .nav-tabs li.nav-item:last-child a {
        padding-right: 0;
    }

.nav-tabs li.nav-item a {
    background-color: transparent;
    border: 0;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 20px;
}


.nav-tabs li.nav-item a {
    background-color: transparent !important;
    border: 0;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 20px;
}


.tab_slider > .tab-pane {
    display: none;
    height: 0;
}

.tab_slider .tab-pane.active {
    height: auto;
    display: block;
    -webkit-animation-name: moveUp;
    animation-name: moveUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(.26,.69,.37,.96);
    animation-timing-function: cubic-bezier(.26,.69,.37,.96);
    -webkit-animation-play-state: running;
    animation-play-state: running;
}


/*Product-Card*/

.product-box {
    min-height: 350px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid rgba(187, 187, 187, 0.4);
}

    .product-box a {
        text-decoration: none;
        text-align: center;
    }

.img-box {
    height: 250px;
    width: 100%;
}

    .img-box img {
        /* height: auto; */
        height: 100%;
        width: 100%;
    }

.product-time-label {
    color: #fff;
    background-color: #df7204;
    /*background-color: #96157a;*/
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px;
}

.product-discount-label {
    color: #fff;
    background-color: #df7204;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 13px;
    margin: 0;
    padding: 10px;
}

.product-title {
    white-space: normal;
    font-weight: 700;
    font-size: 15px;
    color: #29303b;
    margin-bottom: 5px;
}

.product-category {
    display: block;
    white-space: nowrap;
    font-size: 12px;
    color: #686f7a;
    margin-bottom: 5px;
    line-height: 13px;
}

.product-initial-price {
    font-size: 13px;
    line-height: 15px;
    color: #29303b;
    text-decoration: line-through;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #B01A24;
}

.product-average-rating {
    font-weight: 700;
    font-size: 13px
}

.product-quickview,
.product-wishlist {
    color: #96157a;
    font-size: 20px;
    cursor: pointer;
}

.product-quickview {
    margin-right: 10px;
}

.cart {
    height: 45px;
    background-color: #96157a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .cart div {
        color: #ffffff;
    }

.wishlist-button {
    height: 45px;
    background-color: #df7204;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .wishlist-button div {
        color: #ffffff;
    }

.product-box:hover {
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}

    .product-box:hover {
        transform: scale(1.03);
        transition: all ease 0.3s;
    }


.cart:hover {
    transform: scale(1.01);
    background-color: #9c3b8d;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.3s;
}

.wishlist-button:hover {
    transform: scale(1.01);
    background-color: #ff8d19;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.3s;
}


.star-rating {
    color: #f4c150;
    font-size: 15px;
}

.card-center {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
}


/*sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    /*screens less than md*/
@media screen and (min-width:421px) and (max-width: 991px){
    .navbar-category{
        border-right:0;
    }
}


/*smart phones*/
@media screen and (max-width: 420px) and (min-width: 0px) {
    .background-text {
        margin-top: 80px;
    }

    .background {
        height: 80vh;
    }

    .navbar {
        padding: 10px 10px;
    }
    
    .nav-item{
        margin-right:0;
    }
    .navbar-category {
        border-right: 0;
    }
    .product-box{
        min-height:200px;
    }

    .img-box {
        height: 140px;
    }

    .product-title {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .product-initial-price {
        font-size: 10px;
    }

    .product-price {
        font-size: 15px;
        font-weight: 700;
    }

    .star-rating {
        font-size: 10px;
    }


    .product-average-rating {
        font-weight: 700;
        font-size: 10px
    }

    .product-total-review-count{
        display:none;
    }
    .product-time-label,
    .product-discount-label {
        padding: 3px;
        font-size: 8px;
    }

    .product-quickview,
    .product-wishlist {
        font-size: 15px;
    }

    .product-quickview {
        margin-right: 5px;
    }
}
