
body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:85px;
    min-height:96vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.pagebackground {
    background-color: white
}

.sidebarbody {
    padding: 10px 20px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.card-header{
    background-color:white;
}

.primary-custom-button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #df7204;
    cursor: pointer;
    border-radius:0;
}

    .primary-custom-button:hover {
        transform: scale(1.01);
        background-color: #ff8d19;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }

.secondary-custom-button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #96157a;
    cursor: pointer;
    border-radius: 0;
}

    .secondary-custom-button:hover {
        transform: scale(1.01);
        background-color: #9c3b8d;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }


/* navbar */
.navbar {
    background-color: white;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}

.navbar-logo {
    height: 30px;
    max-width: 50px
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: white;
    border: none;
}

.navbar-search-input{
    width:100%;
}
.navbar-toggler:focus {
    outline: none !important;
}

    .navbar-toggler span {
        display: block;
        background-color: #444;
        height: 3px;
        width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        position: relative;
        left: 0;
        opacity: 1;
    }

        .navbar-toggler span:nth-child(1),
        .navbar-toggler span:nth-child(3) {
            -webkit-transition: transform .35s ease-in-out;
            -moz-transition: transform .35s ease-in-out;
            -o-transition: transform .35s ease-in-out;
            transition: transform .35s ease-in-out;
        }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        opacity: 0.9;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        opacity: 0.9;
    }



.navbar {
    padding: 10px 30px;
}

.nav-item{
    margin-right:5px;
    margin-left:5px;
    font-weight:400;
}
.navbar-link {
    color: black;
}

    .navbar-link:hover,
    navbar-link:focus {
        color: #df7204;
    }

.form-control-borderless {
    border: none;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

.navbar-search-div {
    padding: 1px;
    border: 1px solid #a6adad;
}

.navbar-search-button {
    color: white;
    border-radius: 0;
    transition: all ease 0.3s;
    background-color: #df7204;
}

    .navbar-search-button:hover {
        background-color: #9c3b8d;
        color: white;
    }

.navbar-category-name:hover {
    color: #df7204;
}

.dropdown-item>div{
    cursor:pointer;
}

.dropdown-item:active {
    background-color: transparent;
}

.navbar-register-btn,
.navbar-login-btn {
    color: white;
    border-radius: 0;
    margin: 5px 0;
    padding: 5px;
    transition: all ease 0.3s;
}

.navbar-register-btn {
    background-color: #df7204;
}

.navbar-login-btn {
    background-color: #96157a;
}

.navbar-register-btn:hover {
    background-color: #ff8d19;
    color: white;
}

.navbar-login-btn:hover {
    background-color: #9c3b8d;
    color: white;
}

.navbar-cartnumber {
    color: black
}

@media screen and (min-width:991px) {
    .search-form {
        width: 50%;
        margin-right: 10px;
    }
}


    /*home/index*/

/* background */

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center center;
    background-attachment: fixed;
    height: 500px;
}

.background-text {
    margin-top: 120px;
}

    .background-text > h1 {
        color: #df7204;
    }
    .background-text > h6 {
        color: white;
    }

.hr-light {
    background-color: #df7204;
}

.home-shop-now {
    color: white !important;
    background-color: #df7204;
    margin-top: 5px;
    border-radius:0;
}

    .home-shop-now:hover {
        transform: scale(1.01);
        background-color: #ff8d19;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }

.home-background-learnmore {
    color: white !important;
    border: 2px solid #df7204;
    margin-top: 5px;
    border-radius: 0;
}

    .home-background-learnmore:hover {
        transform: scale(1.01);
        background-color: #ff8d19;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.5s;
        color: white;
    }

.header {
    text-align: center;
    color: #E97128;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-text {
    border-bottom: 2px solid #E97128;
    padding-bottom: 5px;
}


.section_header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

    .section_header [class*="heading_"] {
        float: left;
    }



.section_header_text {
    position: relative;
}

    .section_header_text h1, .section_header_text h2, .section_header_text h3, .section_header_text h4, .section_header_text h5, .section_header_text h6 {
        font-weight: 700;
        margin: 0;
        text-transform: capitalize;
    }

    .section_header_text h1,
    .section_header_text h2,
    .section_header_text h3,
    .section_header_text h4,
    .section_header_text h5,
    .section_header_text h6 {
        position: relative;
        z-index: 9;
    }

    .section_header_text .sub_heading {
        font-size: 100px;
        font-weight: bold;
        padding: 0;
        margin-bottom: -15px;
        z-index: 0;
        position: relative;
        line-height: 100px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#1affffff',GradientType=0 );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section_header_text.heading_light .sub_heading {
        background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.01) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.01) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#1a000000',GradientType=0 );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

.home-custommade-container,
.home-readymade-container{
    margin-top: 100px;
    margin-bottom: 100px
}

.home-custommade-img,
.home-readymade-img {
    width: 100%;
    height: 400px
}

.home-custommade-bodytext,
.home-readymade-bodytext {
    text-align: justify;
    text-justify: inter-word
}

.home-bestdeals-header,
.home-bestselling-header {
    margin-top: 15px;
}


.home-custommade-header {
    font-weight: 700;
    color: #212529;
    margin-bottom: 20px;
}

.home-readymade-header {
    font-weight: 700;
    color: #212529;
    margin-bottom: 20px;
}

.primary-button {
    border-radius: 0;
    color: white;
    background-color: #96157a;
}


    .primary-button:hover {
        transform: scale(1.01);
        background-color: rgb(255, 101, 5);
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }


.secondary-button {
    background-color: #df7204;
    color: white;
    border-radius: 0;
}

    .secondary-button:hover {
        color: white;
        transform: scale(1.01);
        background-color: #394047;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
    }


.tab-link {
    color: black;
}

.tab-link:hover {
    color: #df7204 !important;
}

.categories_tab .nav-tabs {
    border-bottom: 0;
}

    .categories_tab .nav-tabs li.nav-item a.active, 
    .categories_tab .nav-tabs li.nav-item a.active :hover {
        color: #df7204 !important;
    }

    .categories_tab .nav-tabs li.nav-item a {
        padding: 0px 15px;
    }

    .categories_tab .nav-tabs li.nav-item:last-child a {
        padding-right: 0;
    }

.nav-tabs li.nav-item a {
    background-color: transparent;
    border: 0;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 20px;
}


.nav-tabs li.nav-item a {
    background-color: transparent !important;
    border: 0;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 20px;
}


.tab_slider > .tab-pane {
    display: none;
    height: 0;
}

.tab_slider .tab-pane.active {
    height: auto;
    display: block;
    -webkit-animation-name: moveUp;
    animation-name: moveUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(.26,.69,.37,.96);
    animation-timing-function: cubic-bezier(.26,.69,.37,.96);
    -webkit-animation-play-state: running;
    animation-play-state: running;
}


/*Product-Card*/

.product-box {
    min-height: 350px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid rgba(187, 187, 187, 0.4);
}

.product-box>div{
    cursor:pointer;
}

    .product-box a {
        text-decoration: none;
        text-align: center;
    }

.img-box {
    height: 250px;
    width: 100%;
}

    .img-box img {
        height: 100%;
        width: 100%;
    }

.product-time-label {
    color: #fff;
    background-color: #96157a;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px;
}

.product-discount-label {
    color: #fff;
    background-color: #96157a;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 13px;
    margin: 0;
    padding: 10px;
}

.product-title {
    white-space: normal;
    font-weight: 700;
    font-size: 15px;
    color: #29303b;
    margin-bottom: 5px;
}

.product-category {
    display: block;
    white-space: nowrap;
    font-size: 12px;
    color: #686f7a;
    margin-bottom: 5px;
    line-height: 13px;
}

.product-initial-price {
    font-size: 13px;
    line-height: 15px;
    color: #29303b;
    text-decoration: line-through;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #B01A24;
}

.product-average-rating {
    font-weight: 700;
    font-size: 13px
}

.product-quickview,
.product-wishlist {
    color: #96157a;
    font-size: 20px;
    cursor: pointer;
}

.product-quickview {
    margin-right: 10px;
}

.cart {
    height: 45px;
    background-color: #df7204;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .cart div {
        color: #ffffff;
    }

.wishlist-button {
    height: 45px;
    background-color: #96157a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .wishlist-button div {
        color: #ffffff;
    }

.product-box:hover {
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}

    .product-box:hover {
        transform: scale(1.03);
        transition: all ease 0.3s;
    }


.cart:hover {
    transform: scale(1.01);
    background-color: #ff8d19;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.3s;
}

.wishlist-button:hover {
    transform: scale(1.01);
    background-color: #9c3b8d;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.3s;
}


.star-rating {
    color: #f4c150;
    font-size: 15px;
}

.card-center {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80vh;
}

/*Product/Index*/

.shop-filter-btn {
    border: none;
    background-color: #96157a;
    color: red;
    width: 100%;
    border-radius: 0;
}

    .shop-filter-btn:active,
    .shop-filter-btn:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
    }

.shop-filter-container {
    border: 1px solid #a6adad;
    padding: 15px;
    margin-bottom: 15px;
}

.shop-filter-input {
    border: 0;
    border-bottom: 1px solid #a6adad;
    border-radius: 0;
    width: 100%;
}

    .shop-filter-input:focus,
    .shop-filter-input:active{
        border: 0 !important;
        border-bottom: 1px solid #a6adad;
        border-radius: 0 !important;
        outline: none;
    }

/*Account/Login*/
.login-card {
    min-width: 300px;
    max-width: 400px;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}


/*Cart/Index*/
.empty-cart-div {
    margin-top: 80px;
}

.empty-cart-image {
    background-color: gainsboro;
    border-radius: 50%;
    display: flex;
    width: 200px;
    height: 200px;
    margin: auto;
}

.empty-cart-head {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.empty-cart-body {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.empty-cart-continue-shopping-div {
    text-align: center;
    margin-top: 10px;
}

    .empty-cart-continue-shopping-div > a {
        background-color: #df7204;
        color: white;
        width: 200px;
        border-radius: 0;
    }

        .empty-cart-continue-shopping-div > a:hover {
            transform: scale(1.01);
            background-color: #ff8d19;
            box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
            transition: all ease 0.3s;
            color: white;
        }


.cart-total-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

    .cart-total-card > .card-header > div {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
    }

.quantity-button {
    border-radius: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.minus-button {
    border-left: 1px solid black;
    padding: 1px 6px;
}

.plus-button {
    border-right: 1px solid black;
    padding: 1px 6px;
}

.cart-quantity {
    width: 50px;
    border: none;
    text-align: center;
    border-radius: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cart-subtotal {
    font-size: 20px;
    font-weight: 300;
}

.cart-checkout-btn {
    background-color: #96157a;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 0
}

    .cart-checkout-btn:hover {
        transform: scale(1.01);
        background-color: #9c3b8d;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }

    .cart-checkout-btn:focus {
        outline: none;
        box-shadow: none;
    }

.cartitemname {
    color: black !important;
    text-decoration: none;
}

    .cartitemname:hover {
        text-decoration: none;
    }

    .cartitemname > div {
        font-size: 15px;
        font-weight: 500;
    }

.carttable {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.cart-shipping-details {
    font-size: 20px;
    font-weight: 400;
}

.cart-total {
    font-size: 25px;
    font-weight: 500;
}

.cart-continue-shipping-btn {
    background-color: #df7204;
    color: white;
    border-radius: 0;
}

    .cart-continue-shipping-btn:hover {
        transform: scale(1.01);
        background-color: #ff8d19;
        box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
        transition: all ease 0.3s;
        color: white;
    }
    
    /*footer*/
footer {
    max-width: 100vw;
    overflow-x: hidden
}

.footer-top {
    background-color: #df7204;
}

.footer-bottom {
    background-color: #212529;
}
.footer-subscribe-header {
    color: white
}
.footer-subscribe-body {
    color: white
}

.footer-bottom-date {
    color: white;
    margin: 0;
    text-align: center
}


.footer-background {
    padding: 30px 50px;
}

.footer-header {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-detail {
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    word-wrap: break-word;
}

.footer-link {
    color: white !important;
    font-weight: 500;
}

.footer-detail-img {
    margin-right: 10px;
}



/*smart phones*/
@media screen and (max-width: 420px) and (min-width: 0px) {

    .footer-background {
        padding: 50px 10px;
    }
}



.form-control-borderless {
    border: none;
}

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

.subscribe-form-div {
    padding: 1px;
    border: 1px solid #a6adad;
}

.subscrcibe-button {
    color: white;
    border-radius: 0;
    transition: all ease 0.3s;
    background-color: #96157a;
}

    .subscrcibe-button:hover {
        background-color: #9c3b8d;
        color: white;
    }


/*screens less than md*/
@media screen and (min-width:991px) {
    .subscribe-form {
        width: 50%;
        margin-right: 10px;
    }
}


/*screens less than md*/
@media screen and (min-width:421px) and (max-width: 991px) {
    .navbar-category{
        border-right:0;
    }
}


/*smart phones*/
@media screen and (max-width: 420px) and (min-width: 0px) {
    .background-text {
        margin-top: 80px;
    }

    .background {
        height: 80vh;
    }

    .navbar {
        padding: 10px 10px;
    }
    
    .nav-item{
        margin-right:0;
    }
    .navbar-category {
        border-right: 0;
    }
    .product-box{
        min-height:200px;
    }

    .img-box {
        height: 140px;
    }

    .product-title {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .product-initial-price {
        font-size: 10px;
    }

    .product-price {
        font-size: 15px;
        font-weight: 700;
    }

    .star-rating {
        font-size: 10px;
    }


    .product-average-rating {
        font-weight: 700;
        font-size: 10px
    }

    .product-total-review-count{
        display:none;
    }
    .product-time-label,
    .product-discount-label {
        padding: 3px;
        font-size: 8px;
    }

    .product-quickview,
    .product-wishlist {
        font-size: 15px;
    }

    .product-quickview {
        margin-right: 5px;
    }

    /*Home/Login*/
    .login-card{
        width:100%;
    }

  

}

/* -------------------------------------------------
          min-width: 992px
        ---------------------------------------------------*/
@media only screen and (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}
/* -------------------------------------------------
          max-width: 991px
        ---------------------------------------------------*/
@media only screen and (max-width: 991px) {


    #categoriesMenuBar {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 999;
        display: block;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        height: auto !important;
    }

        #categoriesMenuBar.show {
            opacity: 1;
            visibility: visible;
            margin-top: 0;
        }

        #categoriesMenuBar li a {
            text-align: left;
        }


    .custommade-section,
    .readymade-section {
        margin-top: 30px;
    }
}